<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 th:text="${jobCount}">Results</h2>

    <div th:each="job : ${jobs}">
        <table class="job-listing">

        <tr th:each="mapEntry : ${job}">
            <td>
                <span th:text="${#strings.capitalizeWords(mapEntry.key)}"></span>

            </td>
            <td>
                <span th:text="${mapEntry.value}"></span>
            </td>

        </tr>
         </table>

    </div>

    <!-- TODO #3 - Use the same list display from search.html -->

</div>

</body>
</html>